.project
.buildpath
.settings
.cache
.DS_Store
configuration.local
public_login_salt.local
/file_assets/head_shots
/file_assets/contribution_images
/file_assets/receipt_pdf
/mybin
/qcodo_log/*.log.txt
/error_log
/micrimage
/groups_server_password.txt
/cli/*.lock
/cli/scripts/test.cli.php
/www/cache/*.jpg
/www/cache/*.png
/www/cache/*.gif
