.project
.buildpath
.settings
.cache
.DS_Store
configuration.local
/file_assets/head_shots
/mybin
/qcodo_log/*.log.txt
/error_log
/groups_server_password.txt
/cli/*.lock
/cli/scripts/test.cli.php
/www/cache/*.jpg